#libro{
    left: 29%;
}
#cuaderno{
    left: 21%;
}
#plumas{
    left: 27%;
}
#respuestas{
    text-align: center;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    background-color: darkcyan;
    text-align: center;
}