
#libro{
    left: 49%;
}
#cuaderno{
    left: 41%;
}
#plumas{
    left: 47%;
}
#respuestas{
    size: 30%;
    text-align: center;
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid #f5f1f1;
}

#bot{
    text-align: center;
}

input[type=number] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }